{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
Weather App  </h3>
  <p>
Completed Version Weather App made with JavaScript Reelease Version 4  </p>
</section>