<nav class="ui inverted menu">
  <header class="ui green header item"> <a href=""> Weather App </a></header>
  <div class="right menu">
    <a id="dashboard" class="red item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="teal item" href="/about"> About </a>
    <a id="logout" class="orange item" href="/logout"> Logout </a>
    <a id="editUser" class="green item" href="/editUser">Accounts</a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>

