
<nav  class="ui inverted menu">
  <header class=" ui teal header item"> <a href="/"> Weather App </a></header>
  <div class=" two item inverted right menu">
    <a id="signup" class="light green item" href="/signup"> Signup  </a>
    <a id="login" class="red item" href="/login">  Login   </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>